<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignPath Demo Example App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/main.js"></script>
</head>
<body>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>